parameters:
	level: 7
	paths:
		- src/
	excludePaths:
		- %rootDir%/../../../src/Utility/Mime
	bootstrapFiles:
		- tests/bootstrap.php
	treatPhpDocTypesAsCertain: false
	checkGenericClassInNonGenericObjectType: false
	checkMissingIterableValueType: false
